* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body{
    overflow: hidden;
}
/*背景*/

.bg {
    background: #a0a0a0 center;
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 110%;
    margin: -5%;
    background-size: cover;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    z-index: -1;
}

.bg-cover {
    background: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
}

/*标题部分*/
.title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 11;
    background-color: rgba(253, 253, 253, 0.05);
}

.title .song, .artist {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-indent: 5%;
}

.title .song {
    margin-top: 10px;
}

.title .artist {
    color: #C8C0CC;
}

.play-board {
    position: absolute;
    overflow: hidden;
    top: 90px;
    width: 100%;
    height: calc(100% - 90px);
    color: white;
}

/*播放器把手*/
.play-needle {
    position: absolute;
    top: -23px;
    left: 50%;
    margin: 0 -12px;
    z-index: 10;
    width: 100px;
    transform-origin: 20px 20px;
    transition: transform 0.4s;
    -webkit-transform-origin: 20px 20px;
    -webkit-transition: -webkit-transform 0.4s;
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}

.pause-needle {
    transform: rotateZ(-25deg);
    -webkit-transform: rotateZ(-25deg);
}

/*打碟部分*/
.disk-bg {
    width: 282px;
    height: 282px;
    position: absolute;
    left: 50%;
    top: 64px;
    margin: 0 -141px;
    background-color: rgba(251, 251, 251, 0.08);
    border-radius: 141px;
}

.disk-cover {
    width: 280px;
    height: 280px;
    position: absolute;
    left: 50%;
    top: 65px;
    margin: 0 -140px;
}

.disk-cover-animation {
    animation: rotate-disk 20s infinite linear;
    animation-play-state: paused;
    -webkit-animation: rotate-disk 20s infinite linear;
    -webkit-animation-play-state: paused;
}

.disk-transition {
    transition: left 0.8s ease-in-out;
    -webkit-transition: left 0.8s ease-in-out;
}

.disk-cover img {
    display: block;
    width: 100%;
}

.disk-cover .album {
    width: 68%;
    margin: 16%;
}

.disk-cover .disk-border {
    position: absolute;
    top: 0;
}

@keyframes rotate-disk {
    100% {
        transform: rotateZ(360deg);
    }
}

/*@-webkit-keyframes rotate-disk {*/
    /*100% {*/
        /*-webkit-transform: rotateZ(360deg);*/
    /*}*/
/*}*/

/*进度条*/
.process {
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    margin: 0 -175px;
    left: 50%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.process .process-bar {
    position: absolute;
    left: 36px;
    width: 274px;
    margin-top: 5px;
    background-color: #615D5C;
}

.process-bar .rdy {
    background-color: #B1ADAC;
    height: 2px;

}

.process-bar .cur {
    background-color: #FB0D0D;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.cur .process-btn {
    cursor: pointer;
    background-image: url(../img/process_btn.png);
    background-size: cover;
    position: absolute;
    top: -9px;
    right: -13px;
    width: 22px;
    height: 22px;
    margin-left: -11px;
}

.process > span:first-child {
    position: absolute;
    left: 0;
}

.process > span:last-child {
    position: absolute;
    right: 0;
}

/*控制台*/
.control {
    position: absolute;
    text-align: center;
    width: 350px;
    bottom: 10px;
    left: 50%;
    margin: 0 -175px;
}

.control .c-btn {
    cursor: pointer;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    display: inline-block;
    -webkit-filter: brightness(0.7);
}
.control>div{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    color: #A0A0A0;
    bottom: 33px;
    left: 16px;
    width: 20px;
    height: 20px;
}
.control .c-btn:hover {
    -webkit-filter: brightness(1);
}

.control .c-btn.pre {
    background-image: url(../img/play_btn_prev.png);
}

.control .c-btn.play {
    background-image: url(../img/play_rdi_btn_play.png);
}

.control .c-btn.pause {
    background-image: url(../img/play_rdi_btn_pause.png);
}

.control .c-btn.next {
    background-image: url(../img/play_btn_next.png);
}

.control .c-btn.list-btn {
    background-image: url(../img/play_icn_src.png);
}

.control .c-btn.loop-btn {
    background-image: url(../img/play_icn_loop.png);
}

.control .c-btn.play, .c-btn.pause {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.control .c-btn.list-btn, .c-btn.loop-btn {
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
}

/*播放列表*/
.play-list {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 60%;
    max-height: 390px;
    margin: 0 auto;
    bottom: -60%;
    overflow: hidden;
}

.play-list .list-title {
    position: relative;
    background: inherit;
    text-align: center;
    border-bottom: #ccc solid 1px;
    height: 20px;
    margin: 0 auto;
    font-size: 20px;
    padding: 15px;
}

.play-list .list-content {
    margin: -20px 0 0 0;
    height: 100%;
    width: 102%;
    padding: 20px 4% 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.play-list .list-content > li {
    height: 16px;
    border-bottom: #E2DFDF solid 1px;
    font-size: 16px;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.play-list .list-content > li > span {
    font-size: 14px;
    color: #A0A0A0;
    overflow: hidden;
}

li.active, li.active > span {
    color: #CF3D3A !important;
}

.song-play {
    display: inline-block;
    width: 17px;
    height: 15px;
    margin-right: 5px;
    background-size: cover;
    background-image: url(../img/song_play_icon.png);
}